<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quia dignissimos voluptatibus, quas corrupti pariatur iure nemo, dolorum quasi, temporibus consequuntur sit nesciunt labore ex recusandae tempora molestias voluptatum quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, facilis.</p>
    <p>paragraf</p>
<input type="text" id="example">
<button id="action">Klik</button>
<p id="text"></p>

    <script src="./../js/func.js"></script>
</body>
</html>